<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">PRODUCCIONES ACADÉMICAS</h4>
                        <p class="card-category"> Listado de las producciones académicas disponibles.</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <mat-table [dataSource]="dataSource" class="table">
                                <ng-container matColumnDef="produccionID">
                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> ID </th>
                                    <td mat-cell *matCellDef="let produccion" class="text-primary"> {{produccion.produccionID}} </td>
                                </ng-container>
                                <ng-container matColumnDef="titulo">
                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Titulo </th>
                                    <td mat-cell *matCellDef="let produccion"> {{produccion.titulo}} </td>
                                </ng-container>
                                <ng-container matColumnDef="resumen">
                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Resumen </th>
                                    <td mat-cell *matCellDef="let produccion"> {{produccion.resumen}} </td>
                                </ng-container>
                                <ng-container matColumnDef="fechaPublicacion">
                                    <th mat-header-cell *matHeaderCellDef class=" text-primary"> Fecha Publicación </th>
                                    <td mat-cell *matCellDef="let produccion"> {{produccion.fechaPublicacion | date: 'dd/MM/yyyy'}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </mat-table>
                            <div align='center' class="spinner-container" *ngIf="dataSource.loading$ | async">
                                <mat-spinner></mat-spinner>
                            </div>
                            <mat-paginator [pageSizeOptions]="[2, 5, 10, 20]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


