<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Listado de Producciones</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Titulo
                                  </th>
                                  <th>
                                      Resumen
                                  </th>
                                  <th>
                                      Fecha Publicación
                                  </th>
                              </thead>
                              <tbody class="producciones">
                                  <tr *ngFor="let produccion of producciones">
                                      <td class="text-primary">
                                          {{produccion.produccionID}}
                                      </td>
                                      <td>
                                          {{produccion.titulo}}
                                      </td>
                                      <td>
                                          {{produccion.resumen}}
                                      </td>
                                      <td>
                                          {{produccion.fechaPublicacion | date: 'dd/MM/yyyy'}}

                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
