<div class="main-content">
   <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">{{'product.add.title' | translate}}</h4>
                      <p class="card-category">{{'product.add.subTitle' | translate}}</p>
                  </div>
                  <div class="card-body">
                      <form  #Produccion="ngForm">
                          <div class="row">
                              <div class="col-md-10">
                                  <mat-form-field class="example-full-width" >
                                    <input matInput placeholder="{{'placeholder.title' | translate}}" type="text" minlength="5" maxlength="100" [(ngModel)]="Produccionuno.titulo" name="Titulo" required>
                                  </mat-form-field>
                              </div>
                              <!-- Cambio del imput por un select box del Tipo de Producciones
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Tipo de produccion" >
                                  </mat-form-field>
                              </div>
                              -->
                              <div class="col-md-4">
                                  <mat-form-field>
                                      <mat-label>{{'placeholder.productType' | translate}}</mat-label>
                                      <mat-select [(ngModel)]="Produccionuno.tipoProduccion" name="Tipo Produccion" required>
                                          <mat-option *ngFor="let TipoProduccion of Tproducciones" [value]="TipoProduccion">
                                                  {{TipoProduccion.descripcion}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>

                          </div>

                          <!-- Los autores se registran por otro formulario
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Autores" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          -->

                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="{{'placeholder.date' | translate}}" type="date" [ngModel]="Produccionuno.fechaPublicacion|date:'yyyy-MM-dd'" (ngModelChange)="Produccionuno.fechaPublicacion=$event" name="Fecha" required >
                                  </mat-form-field>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                <label>{{'placeholder.summary' | translate}}</label>
                                   <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="{{'placeholder.briefDescription' | translate}}" minlength="5" maxlength="1000" [(ngModel)]="Produccionuno.resumen" name="descripcion" required>></textarea>
                                   </mat-form-field>
                                  <!-- <div class="form-group">
                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>

                              <!-- no hay campo palabras clave en producciones
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="palabras clave">
                                  </mat-form-field>
                              </div>
                              -->

                          </div>

                          <button (click)="onClickMe(Produccionuno)" [disabled]="!Produccion.form.valid" button mat-raised-button color="primary">
                              <mat-icon>send</mat-icon> {{'action.send' | translate}}</button>  <div class="clearfix"></div>



                      </form>

                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">UNIVERSIDAD DE ANTIOQUIA</h6>
                      <h4 class="card-title">procedimiento"</h4>
                      <p class="card-description">
                          Las publicaciones estan protegidas por derecho de autor, todos los derechos reservados.
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">{{'action.follow' | translate}}</a>
                  </div>
              </div>
          </div>
      </div>
  </div>

    <div class="container-fluid">
        <app-table-list (editarProduccion)="editarProduccion($event)"></app-table-list>
    </div>




</div>
