<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Editar la lista de producciones</h4>
                      <p class="card-category">agrega la información correspondiente</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-10"> <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Titulo">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Tipo de produccion">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Autores" type="text">

                                </mat-form-field>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="fecha">

                                  </mat-form-field>
                              </div>

                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                <label>RESUMEN</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Realice una brebe descripcion de la publicacion"></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>

                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="palabras clave">
                                  </mat-form-field>
                              </div>

                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">UNIVERSIDAD DE ANTIOQUIA</h6>
                      <h4 class="card-title">procedimiento"</h4>
                      <p class="card-description">
                          Las publicaciones estan protegidas por derecho de autor, todos los derechos reservados.
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">follow</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
